<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <input name="options[redirect]" type="hidden" value="{{ 'comment-success' | absolute_url }}">
  <input name="options[redirectError]" type="hidden" value="{{ 'comment-error' | absolute_url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
  <input name="fields[parent_id]" type="hidden" value="{{ include.parent_id }}" />
  
  <input type="hidden" name="options[reCaptcha][siteKey]" value="6LeCNu4hAAAAABntTU83a6eTY9nxpwByKKMEsvjG">
  <input type="hidden" name="options[reCaptcha][secret]" value="UGPPeuaBe/SmLWdMPsEDqRhbG6Hxef95uVSKsRevLRi+clOTSd3BKORZA+edh82bEbVy8OrIrmhE+H1gUXooi+E/aTNWd2zn/xUq6woxxSz9aeaaeSgiwDU8Ts2yofXNU2r/Ue1/UYAyJ6iflsLeHD8g7Dnechq+DP3mWGGPAAY=">

  <input
      class="comment-name"
      name="fields[name]"
      type="text"
      placeholder="Name"
      required
    />

  <textarea
    id="message-{{ include.parent_id }}"
    class="comment-message"
    name="fields[message]"
    placeholder="Comment (markdown accepted)"
    required
  ></textarea>
    
  <div 
    class="g-recaptcha" 
    data-sitekey="6LeCNu4hAAAAABntTU83a6eTY9nxpwByKKMEsvjG"
  ></div>

  <button class="comment-submit" >
    SEND
  </button>
</form>

<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("message-{{ include.parent_id }}"),
    forceSync: true,
    spellChecker: false,
    status: false,
    placeholder: "Comment (markdown supported)",
  });
</script>
