<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <input name="options[redirect]" type="hidden" value="{{ 'comment-success' | absolute_url }}">
  <input name="options[redirectError]" type="hidden" value="{{ 'comment-error' | absolute_url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
  <input name="fields[parent_id]" type="hidden" value="{{ include.parent_id }}" />
  
  <input type="hidden" name="options[reCaptcha][siteKey]" value="6LeCNu4hAAAAABntTU83a6eTY9nxpwByKKMEsvjG">
  <input type="hidden" name="options[reCaptcha][secret]" value="Uda5LR6c8+lk25zXxHLcae3FtEMnnqUiBMiq5VJu8tjMixMwoc+9qqdgr6j4p8GnsTvrFVgKdPItHFbwSifVp6+eHqsKy1FizrAPF2pgQITuH7vekzUUaKYRT/NkRh8u23gnA9U+ki4C+Rx9m9/YPeZNHsupMm0giMWqItQYcQ24Xq9uxDsTPSN4h5bJqFop40pxGpQz4p7AximF3/yRm9fQsDeZ682C9Gxdcbn80tmg/TFJQJpdLLV8CAKwvXzTdgJymATm4KMMSWoMbZdxZXu+y6bdi15DtJ8/OvMa2X/ydEv0akqPshwF/c0OAAyo8TVoJuIbVf5sNQAMUUIzDg==">

  <input
      class="comment-name"
      name="fields[name]"
      type="text"
      placeholder="Name"
      required
    />

  <textarea
    id="message-{{ include.parent_id }}"
    class="comment-message"
    name="fields[message]"
    placeholder="Comment (markdown accepted)"
    required
  ></textarea>
    
  <div 
    class="g-recaptcha" 
    data-sitekey="6LeCNu4hAAAAABntTU83a6eTY9nxpwByKKMEsvjG"
  ></div>

  <button class="comment-submit" >
    SEND
  </button>
</form>

<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("message-{{ include.parent_id }}"),
    forceSync: true,
    spellChecker: false,
    status: false,
    placeholder: "Comment (markdown supported)",
  });
</script>
