.site-footer {
  .wrapper {
    display: flex;
    justify-content: space-between;
    .description {
      h2 {
        font-size: var(--font-size-extra-big);
        font-weight: 300;
      }
      p {
        margin-top: -16px;
        font-size: var(--font-size-small);
        font-style: italic;
      }
    }
    .footer-nav {
      display: flex;
      flex-direction: column;
    }
    .social {
      .svg-icon {
        vertical-align: baseline;
      }
    }
    &::after {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .site-footer {
    .wrapper {
      flex-direction: column;
    }
  }
}
