.post + .post {
  margin-top: 60px;
}

.post-link {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .post-head {
    flex: 1;
  }

  &:hover {
    text-decoration: none;
  }
}

.post-link + blockquote {
  display: none;
}

.article-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

@media (min-width: 600px) {
  .article-image {
    max-width: 250px;
    margin-right: 30px;
  }
}
